# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kxeqhorxhlgwcgywovqr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...

# App
NEXT_PUBLIC_APP_URL=https://igrejaplanalto.onrender.com
NEXT_PUBLIC_CHURCH_NAME=Assembleia de Deus - Igreja Campo do Planalto
NEXT_PUBLIC_CHURCH_CITY=Laranjal do Jari
NEXT_PUBLIC_CHURCH_STATE=AP
NEXT_PUBLIC_CHURCH_PHONE=(96) 99166-2185